<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>登录</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% load static %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>登录</p>
        <form action="/login", method="post", enctype="multipart/form-data">
            <input type="text" name="uid" value="" placeholder="账号">
            <input type="password" name="upw" value="" placeholder="密码">
            <input type="file" name="myfile">
            <input type="submit" value="登录">
        </form>
        <img src="/static/login/image/_MG_1300.JPG" width="200px"></img>
    
        <table>
            <tr>
                <th>序号</th>
                <th>IP地址</th>
                <th>访问路径</th>
                <th>访问时间</th>
            </tr>
            {% for i in now_page %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.remote_addr }}</td>
                    <td>{{ i.path_info }}</td>
                    <td>{{ i.ctime }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <a href="/login/dowload">下载全部数据</a>
        </p>
        <p>
            <a href="/login?page_num={{ now_page.number }}&load_now_page=1">下载当前页</a>
        </p>
        <p>
            {% if now_page.has_previous %}
                <a href="/login?page_num={{ now_page.previous_page_number }}">上一页</a>
            {% else %}
                首页
            {% endif %}
            {% for i in paginator.page_range %}
                {% if i > now_page.number|add:'-5' and i < now_page.number|add:'5' %}
                    {% if now_page.number != i %}
                        <a href="/login?page_num={{ i }}">{{ i }}</a>
                    {% else %}
                        {{ i }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if now_page.has_next %}
            <a href="/login?page_num={{ now_page.next_page_number }}">下一页</a>
            {% else %}
                末页
            {% endif %}
            第{{ now_page.number }}页 共{{ paginator.num_pages }}页
        </p>
        <script src="" async defer></script>
    </body>
</html> 