<!DOCTYPE html>
<html lang="en">
    <head>
        <title>注册</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>  
        <p>注册账号</p>
        <form action="/login/reg_acc" method="post" enctype="multipart/form-data">
            <input type="text" name="uid" value="" placeholder="账号">
            <input type="password" name="upw" placeholder="密码">
            <input type="password" name="upw_again" placeholder="再次输入密码">
            <input type="text" name="nickname" placeholder="昵称">
            <input type="file" name="head_portrait">
            <input type="submit" value="提交">

        </form>
    </body>
</html>